body{
    margin: 0;
    padding: 0;

}

.clockcontainer{
    background-color: brown;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clock{
    background-color: black;
    /* width: 30%; */
    /* height: 5rem; */
    border: 2px solid wheat;
    color: #fff;
    font-weight: 100;

}
#clock{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
}