*{
    margin: 0;
    padding: 0;
}

#clock-container{
    position: relative;
    background-color: rgb(175, 166, 32);
    width: 50vh;
    height: 50vh;
    margin: auto;
    background-image: url(analogclock.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#hour, #minute, #second, #circle{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    width: 3%;
    height: 30%;
    top: 21%;
    left: 48.5%;
    background-color: black;
    /* display: none; */
}

#minute{
    width: 2%;
    height: 33%;
    top: 18%;
    left: 48.9%;
    background-color: black;
    /* display: none; */
}

#second{
    width: 1%;
    height: 40%;
    top: 11%;
    left: 49.4%;
    background-color: dimgray;
    /* display: none; */
}

#circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 48%;
    left: 47%;
}