/* .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#btn1{
    border: 2px solid yellow;
    border-radius: 20px;
    color: aliceblue;
    font-size: large;
    background-color: darkslategray;
}
#btn2{
    border: 2px solid yellow;
    border-radius: 20px;
    font-size: large;
    color: aliceblue;
    background-color: black;
}
#btn3{
    border: 2px solid yellow;
    border-radius: 20px;
    font-size: large;
    color: aliceblue;
    background-color: purple;
}
#btn4{
    border: 2px solid yellow;
    border-radius: 20px;
    font-size: large;
    color: aliceblue;
    background-color: pink;
}
#btn5{
    border: 2px solid yellow;
    border-radius: 20px;
    font-size: large;
    color: aliceblue;
    background-color: red;
} */
body{
    background-color: yellowgreen;
}
.bulbcontainer{
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bulb{
    background-color: darkmagenta;
    border-radius: 50%;
    box-shadow: 20px 0px 200px 20px;
}

img{
    border-radius: 50%;

}

