* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
.gameContainer {
  background-image: url(./bg.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  width: 100%;
  height: 100vh;
  position: relative;
}

.dino {
  background-image: url(./dino.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 220px;
  height: 110px;
  position: absolute;
  /* top: 83%; */
  bottom: 0;
}

.obstacles {  
  background-image: url(./dragon.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 100px;
  position: absolute;
  /* top: 83%; */
  left: 45%;
  bottom: 0;
}

.dino-active {
  animation: dino 0.7s linear;
}
@keyframes dino {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 300px;
  }
  100% {
    bottom: 0;
  }
}

.dinoLeft{
  animation: dino_a 0.7s linear;
}

@keyframes dino_a {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(40%) ;
  }
}
